.chat-container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.message {
  margin-bottom: 8px;
}

.user-name {
  color: #00d900;
}

.message-input-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.welcome-message {
  background-color: #61dafb;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .chat-container {
    max-height: 200px;
  }

  .message-input-container {
    flex-direction: column;
  }

  .message-input {
    margin-right: 0;
    margin-bottom: 8px;
  }
}
